<?xml version="1.0" encoding="UTF-8"?>
    <manifest package="com.hausung.hangil" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
    android:theme="@style/AppTheme"
    android:supportsRtl="true"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:label="@string/app_name"
    android:icon="@mipmap/ic_launcher"
    android:allowBackup="true">

    <activity android:name=".SplashActivity">
    <intent-filter>
    <action android:name="android.intent.action.MAIN"/>
    <category android:name="android.intent.category.LAUNCHER"/>
    </intent-filter>
    </activity>

    <activity android:name=".StartActivity"/>
    <activity android:name=".LoginActivity" android:parentActivityName=".StartActivity"/>
    <activity android:name=".RegisterActivity" android:parentActivityName=".StartActivity"/>
     <activity android:name=".ResetPasswordActivity" android:parentActivityName=".LoginActivity"/>
    <activity android:name=".ReservationActivity" android:parentActivityName=".StartActivity"/>
    <activity android:name=".Map.MapActivity"/>
        <activity android:name=".Reservation.SangsangVillageReservationActivity"/>
    <activity android:name=".Reservation.SangsangReservationActivity"/>
    <activity android:name=".Reservation.LibraryReservationActivity"/>
    <activity android:name=".Show.SangsangVillageSeminarShowActivity"/>
    <activity android:name=".Show.LibraryStudyRoomShowActivity"/>
    <activity android:name=".Show.SangsangSeminarShowActivity"/>
    <activity android:name=".MyPage.MyPageActivity"/>
    <activity android:name=".MyPage.MyPageSecondActivity"
        android:theme="@style/AppTheme.SlidrActivityTheme"/>
    <activity android:name=".MyPage.VersionViewActivity"
        android:theme="@style/AppTheme.SlidrActivityTheme"/>
    </application>

</manifest>